<div class="container mt-3">
  <div class="row">
    <!-- Restaurant Information -->
    <div class="col-md-5">
      <table class="table table-bordered">
        <tr>
          <td>Name:</td>
          <td>{{ restaurant.name }}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{ restaurant.address }}</td>
        </tr>
        <tr>
          <td>Type:</td>
          <td>{{ restaurant.type }}</td>
        </tr>
        <tr>
          <td>Phone number:</td>
          <td>{{ restaurant.contact_person }}</td>
        </tr>
        <tr>
          <td>Rating:</td>
          <td *ngIf="restaurant.average_rating != -1">
            <ngb-rating [(rate)]="restaurant.average_rating" [max]="5" [readonly]="true"></ngb-rating>
            <pre>{{ restaurant.average_rating }}</pre>
          </td>
          <td *ngIf="restaurant.average_rating == -1">no rating yet</td>
        </tr>
      </table>
    </div>

    <div class="col-md-1"></div>

    <!-- Map -->
    <div class="col-md-5">
      <iframe
        width="100%"
        height="280"
        style="border: 0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        [src]="mapSrc"
      >
      </iframe>
    </div>
  </div>

  <!-- Buttons and Tabs -->
  <div class="d-flex justify-content-center mt-3">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" (click)="selectedTab = 'comments'">
        View comments
      </button>
      <button type="button" class="btn btn-secondary" (click)="selectedTab = 'reservations'">
        Make new reservation
      </button>
      <button type="button" class="btn btn-secondary" (click)="selectedTab = 'deliveries'">
        Order food
      </button>
      <button type="button" class="btn btn-secondary" (click)="selectedTab = 'shopping-cart'">
        Shopping cart
      </button>
    </div>
  </div>

  <ng-container *ngIf="selectedTab === 'comments'">
    <app-comments></app-comments>
  </ng-container>

  <ng-container *ngIf="selectedTab === 'reservations'">
    <app-new-reservation></app-new-reservation>
  </ng-container>

  <ng-container *ngIf="selectedTab === 'deliveries'">
    <app-order-food></app-order-food>
  </ng-container>

  <ng-container *ngIf="selectedTab === 'shopping-cart'">
    <app-shopping-cart></app-shopping-cart>
  </ng-container>
</div>
