<nav
  class="nav nav-tabs d-flex justify-content-between"
  style="background-color: #eef8ff; margin-bottom: 20px"
>
  <div class="nav">
    <a class="nav-link" routerLink="profile">Profile</a>
    <a class="nav-link" routerLink="reservations">Reservations</a>
    <a class="nav-link" routerLink="deliveries">Deliveries</a>
    <a class="nav-link" routerLink="statistics">Statistics</a>
  </div>
  <div class="nav ml-auto">
    <button class="btn btn-outline-primary btn-sm mt-1 mr-2 mb-1" (click)="logout()">Logout</button>
  </div>
</nav>
<router-outlet></router-outlet>
