<div class="d-flex flex-column align-items-center mt-3">
  <table>
    <tr>
      <td>Username:</td>
      <td>
        <input type="text" [(ngModel)]="newWaiter.username" name="username" />
      </td>
    </tr>

    <tr>
      <td>Password:</td>
      <td>
        <input type="password" [(ngModel)]="newWaiter.password" name="password" />
      </td>
    </tr>

    <tr>
      <td>Safety Question:</td>
      <td>
        <input type="text" [(ngModel)]="newWaiter.safety_question" />
      </td>
    </tr>

    <tr>
      <td>Safety Answer:</td>
      <td>
        <input type="text" [(ngModel)]="newWaiter.safety_answer" />
      </td>
    </tr>

    <tr>
      <td>Firstname:</td>
      <td>
        <input type="text" [(ngModel)]="newWaiter.firstname" />
      </td>
    </tr>

    <tr>
      <td>Lastname:</td>
      <td>
        <input type="text" [(ngModel)]="newWaiter.lastname" />
      </td>
    </tr>

    <tr>
      <td>Gender:</td>
      <td>
        <label><input type="radio" value="M" id="gender" [(ngModel)]="newWaiter.gender" />Male</label
        >&nbsp;
        <label><input type="radio" value="F" id="gender" [(ngModel)]="newWaiter.gender" />Female</label>
      </td>
    </tr>

    <tr>
      <td>Address:</td>
      <td>
        <input type="text" [(ngModel)]="newWaiter.address" />
      </td>
    </tr>

    <tr>
      <td>Phone:</td>
      <td>
        <input type="tel" [(ngModel)]="newWaiter.phone" />
      </td>
    </tr>

    <tr>
      <td>Email:</td>
      <td>
        <input type="text" [(ngModel)]="newWaiter.email" />
      </td>
    </tr>

    <tr>
      <td>Insert profile picture here:</td>
      <td>
        <input name="profilnaSlikaSrc" type="file" accept="image/*" (change)="getFile($event)" />
      </td>
    </tr>

    <tr>
      <td>Restaurant</td>
      <td>
        <select [(ngModel)]="nameOfRestaurant">
          <option *ngFor="let restaurant of restaurants" [value]="restaurant.name">
            {{ restaurant.name }}
          </option>
        </select>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <button (click)="registerWaiter()">Add waiter</button>
      </td>
    </tr>
  </table>
  <span style="color: red; margin-left: 30px">{{ message }}</span>
</div>
