<nav class="nav justify-content-center nav-tabs" style="background-color:#EEF8FF; margin-bottom: 20px">
  <a class="nav-link" routerLink="users-overview">Users overview</a>
  <a class="nav-link" routerLink="register-requests">Register requests</a>
  <a class="nav-link" routerLink="new-waiter">Add new waiter</a>
  <a class="nav-link" routerLink="all-restaurants">Restaurants overview</a>
  <a class="nav-link" routerLink="new-restaurant">Add new restaurant</a>
</nav>
<router-outlet></router-outlet>
