<nav
  class="nav nav-tabs d-flex justify-content-between"
  style="background-color: #eef8ff; margin-bottom: 20px"
>
  <div class="nav">
    <a class="nav-link" routerLink="users-overview">Users overview</a>
    <a class="nav-link" routerLink="register-requests">Register requests</a>
    <a class="nav-link" routerLink="new-waiter">Add new waiter</a>
    <a class="nav-link" routerLink="all-restaurants">Restaurants overview</a>
    <a class="nav-link" routerLink="new-restaurant">Add new restaurant</a>
  </div>
  <div class="nav ml-auto">
    <button class="btn btn-outline-primary btn-sm mt-1 mr-2 mb-1" (click)="logout()">Logout</button>
  </div>
</nav>
<router-outlet></router-outlet>
