/* .card img {
  height: 200px;
  object-fit: cover;
} */
.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.quantity-selector button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-selector span {
  margin: 0 10px;
}
.container {
  max-width: 1200px;
}

.card {
  max-width: 250px; /* Adjust the maximum width of the card */
}

.card-img-top {
  max-height: 200px; /* Adjust the maximum height of the card image */
  object-fit: cover;
}

.card-body {
  padding: 10px; /* Adjust padding inside the card body */
}
