<div class="d-flex flex-column align-items-center mt-3">
  <div style="color: rgb(0, 153, 255)"><b>Rate the experience</b></div>

  <div class="table-responsive" *ngIf="passedReservations.length > 0; else noPassedReservations">
    <table class="table table-sm table-striped w-100 text-small centered-table">
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Date</th>
          <th>Reservation time</th>
          <th>Number of people</th>
          <th>Comment</th>
          <th>Rate</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of passedReservations">
          <td>{{ reservation.restaurantName }}</td>
          <td>{{ reservation.datetime_start | date : 'dd-MM-yyyy' }}</td>
          <td>{{ reservation.datetime_start | date : 'HH:mm a' }}</td>
          <td>{{ reservation.number_of_people }}</td>
          <td>
            <textarea rows="3" cols="40" [(ngModel)]="reservation.comment"> </textarea>
          </td>
          <td>
            <ngb-rating
              [(rate)]="reservation.rating"
              [max]="5"
              (rateChange)="onRateChange($event, reservation)"
            ></ngb-rating>
            <pre>{{ reservation.rating }}</pre>
          </td>
          <td><button (click)="submitRating(reservation)">Submit</button></td>
        </tr>
      </tbody>
    </table>
    <span style="color: red">{{ errorMsgPassed }}</span>
  </div>
  <ng-template #noPassedReservations> There are currently no reservations you can rate </ng-template>
</div>

<hr />

<div class="d-flex flex-column align-items-center mt-3">
  <div style="color: rgb(0, 153, 255)"><b>Current reservations</b></div>

  <div class="table-responsive" *ngIf="currentReservations.length > 0; else noCurrentReservations">
    <table class="table table-sm table-striped w-100 text-small centered-table">
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Date</th>
          <th>Reservation time</th>
          <th>Number of people</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of currentReservations">
          <td>{{ reservation.restaurantName }}</td>
          <td>{{ reservation.datetime_start | date : 'dd-MM-yyyy' }}</td>
          <td>{{ reservation.datetime_start | date : 'HH:mm a' }}</td>
          <td>{{ reservation.number_of_people }}</td>
          <td
            [class.green]="reservation.status == 'accepted'"
            [class.orange]="reservation.status == 'pending'"
            [class.red]="reservation.status == 'declined'"
          >
            {{ reservation.status }}
          </td>
          <td style="width: 350px" *ngIf="reservation.status == 'declined'">
            {{ reservation.declined_comment }}
          </td>
          <td style="width: 350px" *ngIf="reservation.status != 'declined'">
            <button
              (click)="cancelReservation(reservation)"
              [disabled]="isAtLeast45MinutesBefore(reservation.datetime_start)"
            >
              Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noCurrentReservations> You currently have no reservations. </ng-template>
</div>

<hr />

<div class="d-flex flex-column align-items-center mt-3">
  <div style="color: rgb(0, 153, 255)"><b>Archive of all past reservations</b></div>

  <div class="table-responsive" *ngIf="archiveReservations.length > 0; else noArchiveReservations">
    <table class="table table-sm table-striped w-100 text-small centered-table">
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Date</th>
          <th>Reservation time</th>
          <th>Number of people</th>
          <th>Comment</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of archiveReservations">
          <td>{{ reservation.restaurantName }}</td>
          <td>{{ reservation.datetime_start | date : 'dd-MM-yyyy' }}</td>
          <td>{{ reservation.datetime_start | date : 'HH:mm a' }}</td>
          <td>{{ reservation.number_of_people }}</td>
          <td style="width: 350px">{{ reservation.comment }}</td>
          <td style="width: 350px">
            <ngb-rating [(rate)]="reservation.rating" [max]="5" [readonly]="true"></ngb-rating>
            <pre>{{ reservation.rating }}</pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noArchiveReservations> There are currently archived reservations. </ng-template>
</div>

<hr />

<div class="d-flex flex-column align-items-center mt-3">
  <div style="color: red"><b>Havent showed reservations</b></div>

  <div
    class="table-responsive"
    *ngIf="haventShowedReservations.length > 0; else noHaventShowedReservations"
  >
    <table class="table table-sm table-striped w-100 text-small centered-table">
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Date</th>
          <th>Reservation time</th>
          <th>Number of people</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of haventShowedReservations">
          <td>{{ reservation.restaurantName }}</td>
          <td>{{ reservation.datetime_start | date : 'dd-MM-yyyy' }}</td>
          <td>{{ reservation.datetime_start | date : 'HH:mm a' }}</td>
          <td>{{ reservation.number_of_people }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noHaventShowedReservations>
    There are currently no reservations to which you haven't showed up.
  </ng-template>
</div>
